@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

.max_width {
    padding: 0 80px;
    margin: auto;
}

section {
    padding: 75px 0;
    min-height: 100vh;
    /* margin: 100px 0; */
}

a {
    text-decoration: none;
}


/* Nav */

.navigation {
    position: fixed;
    height: 100%;
    width: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* transition: width 0.5s; */
    transition: 0.5s;
    z-index: 420;
}

.navigation.active {
    width: 300px;
}

.navigation ul {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
    text-justify: center;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    padding: 30px 0;
    white-space: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
    opacity: 0.5;
}

.navigation ul li a:hover {
    color: #333;
    transition-duration: 0.5s;
    opacity: 1;
    background-color: rgb(255, 255, 255);
}


/* Main */

.main {
    position: absolute;
    width: calc(100% - 0px);
    left: 0px;
    /* top: 60px; */
    background: #fff;
    min-height: 100vh;
    transition: 0.5s;
    /* transition: width 0.5s, left 0.5s; */
}

.main.active {
    width: calc(100% - 300px);
    left: 300px;
}

.main .topbar {
    width: 100vw;
    position: fixed;
    top: 0;
    width: calc(100% - 0px);
    left: 0px;
    /* margin-top: 10px; */
    background: rgba(5, 5, 5, 0.9);
    /* background: black; */
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    height: 60px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 420;
    transition: 0.5s;
    /* transition: width 0.5s, left 0.5s; */
}

.main .topbar.active {
    width: calc(100% - 300px);
    left: 300px;
}

.main .topbar .logo {
    color: #969696;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main .topbar .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.75em;
    color: #969696;
}


/* Home section */

.home {
    display: flex;
    height: 100vh;
    min-height: 500px;
    align-items: center;
    margin: 0;
    background-image: url('images/homeBG.png');
}

.home .max_width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 1.7em;
}

.home .home-content .text-2 {
    font-size: 4.7em;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 2.5em;
    margin: 5px 0;
}

.home .home-content .text-4 {
    font-size: 1.9em;
    margin-top: 50px;
}

.home .home-content .text-4 span {
    color: crimson;
    font-weight: 500;
}

.home .social-media {
    display: flex;
    width: 25%;
    justify-content: space-between;
    font-size: 2em;
}

.home .social-media a {
    color: white;
}


/* End Of home section */


/* Start of */


/* About */


/* Section */


/* About section */

.title {
    position: relative;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 30px;
}

#About.title::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 300px;
    height: 3px;
    background: #333;
    transform: translateX(-50%);
}

#About .title::after {
    content: 'Qui suis-je';
    position: absolute;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    font-size: 0.5em;
    color: crimson;
    background: #fff;
    transform: translateX(-50%);
}

#About .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#About .about-content .left {
    width: 45%;
}

#About .about-content .left img {
    height: 500px;
    width: 550px;
    object-fit: cover;
    border-radius: 6px;
}

#About .about-content .right {
    width: 55%;
}

#About .about-content .right .about_text {
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 10px;
}

#About .about-content .right .about_text span {
    color: crimson;
}

#About .about-content .right p {
    text-align: justify;
}

#About .about-content .right a {
    color: rgb(204, 20, 20);
}

#About .about-content .right p span {
    background: crimson;
    color: white;
    font-size: 1em;
    padding: 5px 15px;
    margin: 10px;
    border-radius: 6px;
    border: 2px solid crimson;
}

#About .about-content .right .cvlink {
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 1.5em;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

#About .about-content .right a:hover,
#About .about-content .right .skills p:hover {
    color: crimson;
    background: white;
}

#About .about-content .right p {
    line-height: 30px;
    letter-spacing: 1px;
}

#About .about-content .right .skills {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    font-size: 1.4em;
}

#About .about-content .right .skills p {
    color: white;
    background-color: crimson;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    border: 2px crimson solid;
    transition: all 0.3s ease;
}

#About .about-content .right .skills p:hover {
    cursor: default;
}


/* End of about section */


/* Start of */


/* Timeline */


/* Section */


/* Timeline Section */

#Parcours {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #101010;
    color: white;
}

#Parcours h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 40px;
}

.timeline {
    width: 100%;
    height: auto;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.timeline ul {
    list-style: none;
}

.timeline ul li {
    padding: 20px;
    background-color: #1e1f22;
    color: rgb(180, 175, 175);
    border-radius: 10px;
    width: 100%;
    position: relative;
    transition-duration: 1s;
}

.timeline ul li:hover {
    color: white;
    box-shadow: 0 0 4px rgba(164, 168, 157, 0.5), 0 0 8px rgba(164, 168, 157, 0.5), 0 0 12px rgba(164, 168, 157, 0.5), 0 0 16px rgba(164, 168, 157, 0.5), 0 0 20px rgba(164, 168, 157, 0.5);
}

.timeline ul li:last-child {
    margin-bottom: 0;
}

.timeline-content h3 {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
}

.timeline-content p {
    font-size: 1em;
    line-height: 30px;
    font-weight: 400;
}

.timeline-content a {
    color: wheat;
    font-weight: 500;
}


/* End of timeline section */


/* Start 

of

Projects

Section
   */

#Project {
    font-family: 'Lato', sans-serif;
}

#Project h2 {
    margin: 0 0 100px 0;
    font-size: 2.5em;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.projects-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    padding: 0;
}

.left-slide {
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
}

.left-slide div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.left-slide h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
}

.left-slide a {
    font-size: 1.4em;
    color: wheat;
}

.right-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;
}

.right-slide div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

.action-buttons button {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
}

.action-buttons button:hover {
    color: #222;
}

button:focus {
    outline: none;
}

.action-buttons button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
}

.action-buttons .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.action-buttons .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


/*  */


/* start Contact 

Section
*/

#Contacts {
    background: #101010;
    color: white;
}

#Contacts .title {
    color: white;
}

#Contacts .title::before {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 50%;
    width: 250px;
    height: 3px;
    transform: translateX(-50%);
}

#Contacts .title::after {
    content: 'Gardons contact';
    position: absolute;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    font-size: 0.5em;
    color: crimson;
    transform: translateX(-50%);
}

#Contacts {
    display: flex;
    flex-direction: column;
}

#Contacts form {
    width: 50vw;
    margin: 0 auto;
}

#Contacts form .fields {
    display: flex;
}

#Contacts form .field {
    margin: 30px 0;
}

#Contacts form .field,
#Contacts form .fields .field {
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
}

#Contacts form .name {
    margin-right: 10px;
}

#Contacts form .email {
    margin-left: 10px;
}

#Contacts form .textarea {
    height: 200px;
    width: 100%;
}

#Contacts form .field input,
#Contacts form .textarea textarea {
    width: 100%;
    height: 100%;
    border: 1px lightgrey solid;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

#Contacts form .field input:active,
#Contacts form .textarea textarea:active {
    background: rgb(95, 95, 95);
}

#Contacts form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

#Contacts form .button {
    height: 50px;
    margin-top: 30px;
}

#Contacts form .button button {
    color: white;
    width: 50%;
    height: 100%;
    border: 2px solid crimson;
    background: crimson;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
}

#Contacts form .button button:hover {
    color: crimson;
    background: none;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
#logo {
    text-align: center;
    color: crimson;
    font-size: 300px;
}

#logo h1 {
    font-family: "Oswald", sans-serif;
}


/*responsive */

@media only screen and (min-width: 1063px) {
    .timeline ul li {
        width: 50%;
        margin-bottom: 20px;
    }
    .timeline::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        left: 50%;
        background-color: grey;
    }
    .timeline ul li::after {
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background: grey;
        border-radius: 50%;
        top: 0;
    }
    .timeline ul li:nth-child(odd)::after {
        transform: translate(50%, -50%);
        right: -30px;
    }
    .timeline ul li:nth-child(even)::after {
        transform: translate(-50%, -50%);
        left: -30px;
    }
    .timeline ul li:hover::after {
        transition-duration: 1s;
        background-color: greenyellow;
        box-shadow: 0 0 12px greenyellow, 0 0 14px greenyellow, 0 0 16px greenyellow, 0 0 18px greenyellow, 0 0 10px greenyellow;
    }
    .timeline ul li:nth-child(odd) {
        float: left;
        clear: right;
        transform: translateX(-30px);
        border-radius: 20px 0px 20px 20px;
    }
    .timeline ul li:nth-child(even) {
        float: right;
        clear: left;
        transform: translate(30px);
        border-radius: 0px 20px 20px 20px;
    }
}

@media only screen and (max-width: 1400px) {
    .home .max_width {
        margin-left: 0px;
    }
    #About .about-content .right {
        width: 40%;
    }
    #Project h1 {
        font-size: 1em;
        position: relative;
        bottom: 100px;
    }
    #Project p,
    #Project a {
        font-size: 0.75em;
        position: relative;
        bottom: 50px;
    }
    #Project a {
        top: 100px;
    }
}

@media only screen and (max-width: 1204px) {
    #About .about-content .left img {
        height: 350px;
        width: 350px;
    }
    #About .about-content .right {
        width: 40%;
    }
    .timeline ul li {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 947px) {
    #About .about-content .column {
        width: 50%;
    }
    #About .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    #About .about-content .right {
        flex: 100%;
    }
    #About .about-content .right p {
        line-height: 25px;
        letter-spacing: 0px;
    }
}

@media only screen and (max-width: 900px) {
    .home .home-content .text-1 {
        font-size: 1.25em;
    }
    .home .home-content .text-2 {
        font-size: 4.5em;
    }
    .home .home-content .text-3 {
        font-size: 2.2em;
    }
    .max_width {
        padding: 0 20px;
    }
    #Contacts form {
        width: 80vw;
        margin: 0 auto;
    }
}